
//colors
$color-primary: #55c57a;
$color-primary-light: rgb(126, 213, 111);
$color-primary-dark: rgba(40, 180, 133, 0.8);

$color-secondary-light: rgba(255, 185, 0, 0.85);
$color-secondary-dark: rgba(255, 119, 48, 0.85);

$color-tertiary-light: rgba(41, 152, 255, 0.85);
$color-tertiary-dark: rgba(86, 67, 250, 0.85);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: rgba(0, 0, 0, 0.1);

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font

$default-font-size: 1.6rem;